<!DOCTYPE html>
<html lang="en">

<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>New User</title>
  <link rel="stylesheet" href="./styles/main.css">
  <link rel="stylesheet" href="./styles/new.css">
</head>

<body>
  <h1>Add a Family Member</h1>
  <form action="/new" method="post">
    <p>What's your name?</p>
    <input type="text" name="name">

    <p>Pick a color:</p>
    <input type="radio" name="color" id="red" value="#c65e5e" />
    <label for="red"><span class="red"></span></label>

    <input type="radio" name="color" id="green" value="#2f8c45" />
    <label for="green"><span class="green"></span></label>

    <input type="radio" name="color" id="yellow" value="#9c7708" />
    <label for="yellow"><span class="yellow"></span></label>

    <input type="radio" name="color" id="olive" value="#505a0b" />
    <label for="olive"><span class="olive"></span></label>

    <input type="radio" name="color" id="orange" value="#873a08" />
    <label for="orange"><span class="orange"></span></label>

    <input type="radio" name="color" id="teal" value="indigo" />
    <label for="teal"><span class="teal"></span></label>

    <input type="radio" name="color" id="blue" value="#326992" />
    <label for="blue"><span class="blue"></span></label>

    <input type="radio" name="color" id="violet" value="#321a64" />
    <label for="violet"><span class="violet"></span></label>

    <input type="radio" name="color" id="purple" value="#501962" />
    <label for="purple"><span class="purple"></span></label>

    <input type="radio" name="color" id="pink" value="#851554" />
    <label for="pink"><span class="pink"></span></label>
    <div class="spacer"></div>
    <button type="submit">Add</button>
  </form>
</body>

</html>